%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et nomod:

{deps,
 [{cloudi_core, ".*",
   {git, "https://github.com/CloudI/cloudi_core.git",
    {tag, "v2.0.5"}}},
  {cloudi_service_http_cowboy, ".*",
   {git, "https://github.com/CloudI/cloudi_service_http_cowboy.git",
    {tag, "v2.0.5"}}},
  {cloudi_service_db_pgsql, ".*",
   {git, "https://github.com/CloudI/cloudi_service_db_pgsql.git",
    {tag, "v2.0.5"}}},
  {jsx, ".*",
   {git, "https://github.com/talentdeficit/jsx.git",
    {tag, "v3.1.0"}}}]}.

{erl_opts,
 [{platform_define, "^19\.", 'ERLANG_OTP_VERSION_19'},
  {platform_define, "^20\.", 'ERLANG_OTP_VERSION_20'},
  deterministic,
  debug_info,
  warn_export_vars,
  warn_unused_import,
  %warn_missing_spec,
  warnings_as_errors]}.
{edoc_opts,
 [{preprocess, true}]}.
{clean_files, ["test/*.beam"]}.
{cover_enabled, false}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
